body {
  background-color: whitesmoke;
}

body,
main {
  display: flex;
}

body {
  flex-direction: column;
}

main {
  flex: auto;
  flex-direction: row;
}

main article {
  flex: 2;
  overflow-y: auto;
}

article p a {
  text-decoration: none;
  color: maroon;
}

main aside {
  flex: 1;
  overflow-y: auto;
}
